# Editors
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.pyc
**/*.class

# Git
**/.git*

# Logs
**/*.log

# Environments
**/.env*
**/.venv*
**/env
**/venv

# Tests
**/.pytest*
**/tests
**/api_tests

# Docker
Dockerfile*
docker-compose*

# Project
Makefile*
LICENSE
README*
/postgres
